<div class="container" fxLayout="column" fxLayoutAlign="space-between none">
  <h2 mat-dialog-title class="text-center">Edit word</h2>

  <mat-dialog-content>
    <form #f="ngForm">
      <mat-form-field>
        <mat-label>Word Name</mat-label>
        <input
          matInput
          required
          minlength="2"
          maxlength="27"
          [(ngModel)]="word.name"
          name="name"
          #name="ngModel"
          type="name"
        />
        <ng-container *ngIf="name.touched && !name.valid">
          <mat-error *ngIf="name.errors.required">
            Word Name is required
          </mat-error>
          <mat-error *ngIf="name.errors.minlength">
            Word Name should be minimum
            {{ name.errors.minlength.requiredLength }} characters
          </mat-error>
          <mat-error *ngIf="name.errors.maxlength">
            Word Name should be maximum
            {{ name.errors.maxlength.requiredLength }} characters
          </mat-error>
        </ng-container>
      </mat-form-field>

      <mat-label>Description</mat-label>
      <ng-container *ngIf="description.touched && !description.valid">
        <mat-error *ngIf="description.errors.required">
          Word description is required
        </mat-error>
        <mat-error *ngIf="description.errors.minlength">
          Word description should be minimum
          {{ description.errors.minlength.requiredLength }} characters
        </mat-error>
        <mat-error *ngIf="description.errors.maxlength">
          Word description should be maximum
          {{ description.errors.maxlength.requiredLength }} characters
        </mat-error>
      </ng-container>
      <quill-editor
        [styles]="{ height: '250px' }"
        required
        minlength="2"
        maxlength="10000"
        [modules]="modules"
        [(ngModel)]="word.description"
        #description="ngModel"
        name="description"
      ></quill-editor>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center">
    <button mat-raised-button class="mx-3" color="accent" (click)="close()">
      Close
    </button>
    <button
      [disabled]="!f.valid"
      mat-raised-button
      class="mx-3"
      color="primary"
      (click)="save(f)"
    >
      Save
      <mat-icon *ngIf="isLoading"
        ><mat-spinner mode="indeterminate" diameter="21"> </mat-spinner
      ></mat-icon>
    </button>
  </mat-dialog-actions>
</div>
