<div class="container" fxLayout="column" fxLayoutAlign="space-between none">
  <h2 mat-dialog-title class="text-center">Reply on the comment</h2>

  <div class="comment mb-3 p-2" [innerHTML]="data.content"></div>

  <mat-dialog-content>
    <form #f="ngForm">
      <div
        *ngIf="!media.isActive('sm') && !media.isActive('xs'); else notMobile"
      >
        <mat-label>Reply</mat-label>

        <ng-container *ngIf="content.touched && !content.valid">
          <mat-error *ngIf="content.errors.required">
            Reply is required
          </mat-error>
          <mat-error *ngIf="content.errors.minlength">
            Reply should be minimum
            {{ content.errors.minlength.requiredLength }} characters
          </mat-error>
          <mat-error *ngIf="content.errors.maxlength">
            Reply should be maximum
            {{ content.errors.maxlength.requiredLength }} characters
          </mat-error>
        </ng-container>

        <quill-editor
          [styles]="{ height: '250px' }"
          required
          minlength="2"
          maxlength="1000"
          [modules]="modules"
          ngModel
          name="content"
          #content="ngModel"
        ></quill-editor>
      </div>
      <ng-template #notMobile>
        <mat-form-field>
          <mat-label>Reply</mat-label>
          <textarea
            matInput
            required
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10"
            minlength="2"
            maxlength="1000"
            ngModel
            name="content"
            #content="ngModel"
          ></textarea>
          <ng-container *ngIf="content.touched && !content.valid">
            <mat-error *ngIf="content.errors.required">
              Reply is required
            </mat-error>
            <mat-error *ngIf="content.errors.minlength">
              Reply should be minimum
              {{ content.errors.minlength.requiredLength }} characters
            </mat-error>
            <mat-error *ngIf="content.errors.maxlength">
              Reply should be maximum
              {{ content.errors.maxlength.requiredLength }} characters
            </mat-error>
          </ng-container>
        </mat-form-field>
      </ng-template>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center">
    <button mat-raised-button class="mx-3" color="accent" (click)="close()">
      Close
    </button>
    <button
      [disabled]="!f.valid"
      mat-raised-button
      class="mx-3"
      color="primary"
      (click)="save(f)"
    >
      Save
      <mat-icon *ngIf="isLoading"
        ><mat-spinner mode="indeterminate" diameter="21"> </mat-spinner
      ></mat-icon>
    </button>
  </mat-dialog-actions>
</div>
