<div class="container-fluid">
  <div class="row">
    <div class="col" [ngClass.gt-sm]="'page-content'">
      <router-outlet></router-outlet>
    </div>
    <div
      *ngIf="!media.isActive('sm') && !media.isActive('xs')"
      class="col-1 menu p-0"
    >
      <ul class="list-group">
        <button
          mat-stroked-button
          *ngFor="let l of letters$ | async"
          routerLink="/letter"
          [queryParams]="{ letter: l.name }"
          routerLinkActive="active-list-item"
          class="font-weight-bold"
        >
          {{ l.name }}
        </button>
      </ul>
    </div>
  </div>
</div>
