mat-card {
  min-width: 300px;
  width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
  width: 90%;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
