.list-group-item {
  background-color: #ffecb3;
}

.comment-not-approved {
  background-color: #dc3545;
}
.comment-approved {
  background-color: #ffe082;
}

.comment {
  border-radius: 1%;
}

.list-group {
  max-width: 80%;
}

.replies {
  max-width: 100%;
}

.new-word {
  width: 50%;
}

.comment-card {
  width: 80%;
  background-color: #ffecb3;
}

.comment-area {
  width: 100%;
}

.bold {
  font-weight: 700;
}

.word {
  font-weight: 700;
}

.user-comment {
  margin-top: 10px;
  display: block;
  font-size: small;
  font-weight: bold;
}

.myClass {
  max-height: 95%;
  width: 620px;
  overflow-y: auto;
}
