.list-group-item {
  background-color: #ffecb3;
  //   max-width: 75%;
}

.list-group {
  max-width: 90%;
}

.comment-card {
  width: 80%;
  background-color: #ffecb3;
}

.comment-area {
  width: 100%;
}



.word {
  font-weight: 700;
}

.user-comment {
  margin-top: 10px;
  display: block;
  font-size: small;
  font-weight: bold;
}

.myClass {
  max-height: 95%;
  width: 620px;
  overflow-y: auto;
}
