.list-group-item{
    background-color: #FFECB3;
    
}

.word{
    font-weight: 700;
}

.comment-user{
    display: block;
    font-size: small;
}

.myClass {
    max-height: 95%;
    width: 620px;
    overflow-y: auto;
}