<!-- <p>letter A works!</p> -->

<div *ngIf="letter$ | async as letter">
  <p>Letter Name {{ letter.name }}</p>
  <p>Letter Title {{ letter.title }}</p>
  <div *ngFor="let word of letter.words">
    <p>Word Name {{ word.name }}</p>
    <p>Word Description {{ word.description }}</p>
  </div>
  <div *ngFor="let comment of letter.comments">
    <p>Comment Content {{ comment.content }}</p>
    <p>Comment CreatedAt {{ comment.createdAt | date: "full" }}</p>
    <p>Comment isApproved {{ comment.isApproved }}</p>
    <p>user.firstName {{ comment.user.firstName }}</p>
    <p>user.lastName {{ comment.user.lastName }}</p>
  </div>
</div>
