<div class="container">
  <div fxLayout="column" fxLayoutAlign="space-evenly center" class="my-3">
    <h1>Letter {{ letterName }}</h1>

    <ng-container *ngIf="isLoading">
      <mat-spinner mode="indeterminate" diameter="70"></mat-spinner>
      <h2>Loading data</h2>
    </ng-container>
  </div>

  <div *ngIf="letter">
    <div
      *ngIf="
        authService.isLogged() &&
          authService?.currentUser.roles.includes('ADMIN');
        else noAdmin
      "
      fxLayout="column"
      fxLayoutAlign="space-evenly center"
      fxLayoutGap="3%"
    >
      <!-- <ul class="list-group">
        <li class="list-group-item">{{ letter.title }}</li>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <button color="primary" mat-raised-button>Edit</button>
        </div>
      </ul> -->

      <ul class="list-group" *ngFor="let word of letter.words">
        <li class="list-group-item">
          <span class="word">{{ word.name }}</span>
          {{ word.description }}
        </li>
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="10%"
          class="mt-2"
        >
          <button color="primary" (click)="editWord(word)" mat-mini-fab>
            <mat-icon>edit</mat-icon>
          </button>

          <button
            color="primary"
            (click)="deleteContent(word._id)"
            mat-mini-fab
          >
            <mat-icon *ngIf="!isLoadingOnDelete">delete </mat-icon>
            <mat-icon *ngIf="isLoadingOnDelete"
              ><mat-spinner mode="indeterminate" diameter="21"> </mat-spinner
            ></mat-icon>
          </button>
        </div>
      </ul>

      <button color="primary" mat-raised-button (click)="editWord(null)">
        Add New
      </button>

      <h2>Comments</h2>

      <!-- <ul class="list-group" *ngFor="let comment of letter.comments">
        <li class="list-group-item">
          {{ comment.content }}
          <span class="user-comment"
            >{{ comment.user.firstName }} {{ comment.user.lastName }} CreatedAt
            {{ comment.createAt | date: "short" }}</span
          >
        </li>
      </ul>-->
    </div>

    <ng-template #noAdmin>
      <div
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
        fxLayoutGap="3%"
      >
        <!-- <ul class="list-group">
          <li class="list-group-item">{{ letter.title }}</li>
        </ul> -->
        <div *ngIf="letter.words?.length && !isLoading; else noWords">
          <ul class="list-group" *ngFor="let word of letter.words">
            <li class="list-group-item">
              <span class="word">{{ word.name }}</span>
              {{ word.description }}
            </li>
          </ul>
        </div>

        <ng-template #noWords>
          <h2>
            There are on any content yet. If you have any suggestions please
            leave your comment below.
          </h2>
        </ng-template>

        <h2>Comments</h2>

        <!--<ul class="list-group" *ngFor="let comment of letter.comments">
          <li class="list-group-item">
            {{ comment.content }}
            <span class="user-comment"
              >{{ comment.user.firstName }}
              {{ comment.user.lastName }} CreatedAt
              {{ comment.createAt | date: "short" }}</span
            >
          </li>
        </ul>-->
      </div>
    </ng-template>
  </div>
</div>
