<div class="container">
  <div fxLayout="column" fxLayoutAlign="space-evenly center" class="my-3">
    <h1>Буква {{ letterName }}</h1>

    <ng-container *ngIf="isLoading">
      <mat-spinner mode="indeterminate" diameter="70"></mat-spinner>
      <h2>Loading data</h2>
    </ng-container>
  </div>

  <div
    *ngIf="letter"
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
    fxLayoutGap="3%"
    class="mb-3"
  >
    <div
      *ngIf="
        authService.isLogged() &&
          authService?.currentUser.roles.includes('ADMIN');
        else noAdmin
      "
      fxLayout="column"
      fxLayoutAlign="space-evenly center"
      fxLayoutGap="1%"
    >
      <ul class="list-group" *ngFor="let word of letter.words">
        <li class="list-group-item my-1">
          <span class="word">{{ word.name }}</span>
          <span [innerHTML]="word.description"></span>
        </li>
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="10%"
          class="mt-2"
        >
          <button color="primary" (click)="editWord(word)" mat-mini-fab>
            <mat-icon>edit</mat-icon>
          </button>

          <button color="warn" (click)="deleteContent(word._id)" mat-mini-fab>
            <mat-icon *ngIf="!isLoadingOnUpdate">delete </mat-icon>
            <mat-icon *ngIf="isLoadingOnUpdate"
              ><mat-spinner mode="indeterminate" diameter="21"> </mat-spinner
            ></mat-icon>
          </button>
        </div>
      </ul>

      <button
        color="primary"
        class="my-4 new-word"
        mat-raised-button
        (click)="editWord(null)"
      >
        Add New
      </button>

      <h2>Comments</h2>

      <ul class="list-group" *ngFor="let comment of letter.comments">
        <li class="list-group-item">
          <div
            class="comment mb-2 p-2"
            [ngClass]="{
              'comment-not-approved': !comment.isApproved,
              'comment-approved': comment.isApproved
            }"
          >
            <span [innerHTML]="comment.content"></span>
            <span class="user-comment"
              >{{ comment.user.firstName }}
              {{ comment.user.lastName }} CreatedAt
              {{ comment.createAt | date: "short" }}</span
            >
          </div>
          <mat-expansion-panel
            *ngIf="comment?.replies.length"
            [expanded]="(updatedCommentId === comment._id) ? true : false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                See all replies
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon>insert_comment</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ul
              class="list-group replies"
              *ngFor="let reply of comment.replies"
            >
              <li
                class="list-group-item mt-3 mb-2 p-2"
                [ngClass]="{
                  'comment-not-approved': !reply.isApproved
                }"
              >
                <span [innerHTML]="reply.content"></span>
                <span class="user-comment"
                  >{{ reply.user.firstName }}
                  {{ reply.user.lastName }} CreatedAt
                  {{ reply.createAt | date: "short" }}</span
                >
              </li>
              <div
                fxLayout="row"
                fxLayoutAlign="center center"
                fxLayoutGap="10%"
                class="mt-2"
              >
                <button
                  color="primary"
                  (click)="approveCommentReply(comment._id, reply)"
                  mat-mini-fab
                >
                  <mat-icon color="accent" *ngIf="!reply.isApproved"
                    >thumb_up_alt</mat-icon
                  >
                  <mat-icon *ngIf="reply.isApproved">thumb_down_alt</mat-icon>
                </button>

                <button
                  color="warn"
                  (click)="deleteCommentReply(comment._id, reply._id)"
                  mat-mini-fab
                >
                  <mat-icon *ngIf="!isLoadingOnUpdate">delete </mat-icon>
                  <mat-icon *ngIf="isLoadingOnUpdate"
                    ><mat-spinner mode="indeterminate" diameter="21">
                    </mat-spinner
                  ></mat-icon>
                </button>
              </div>
            </ul>
          </mat-expansion-panel>
        </li>
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="10%"
          class="mt-2"
        >
          <button
            color="primary"
            (click)="approveComment(comment)"
            mat-mini-fab
          >
            <mat-icon color="accent" *ngIf="!comment.isApproved"
              >thumb_up_alt</mat-icon
            >
            <mat-icon *ngIf="comment.isApproved">thumb_down_alt</mat-icon>
          </button>
          <button
            color="primary"
            (click)="replyOnComment(comment)"
            mat-mini-fab
          >
            <mat-icon>add_comment</mat-icon>
          </button>

          <button
            color="warn"
            (click)="deleteComment(comment._id)"
            mat-mini-fab
          >
            <mat-icon *ngIf="!isLoadingOnUpdate">delete </mat-icon>
            <mat-icon *ngIf="isLoadingOnUpdate"
              ><mat-spinner mode="indeterminate" diameter="21"> </mat-spinner
            ></mat-icon>
          </button>
        </div>
      </ul>
    </div>

    <ng-template #noAdmin>
      <div
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
        fxLayoutGap="1%"
      >
        <ul class="list-group" *ngFor="let word of letter.words">
          <li class="list-group-item my-1">
            <span class="word">{{ word.name }}</span>
            <span [innerHTML]="word.description"></span>
          </li>
        </ul>

        <ng-template #noWords>
          <h3>
            There are no any content yet.<br />
            If you have any suggestions please leave your comment below.
          </h3>
        </ng-template>

        <h2>Comments</h2>

        <ul class="list-group" *ngFor="let comment of comments">
          <li class="list-group-item">
            <div class="comment comment-approved mb-2 p-2">
              <span [innerHTML]="comment.content"></span>
              <span class="user-comment"
                >{{ comment.user.firstName }}
                {{ comment.user.lastName }} CreatedAt
                {{ comment.createAt | date: "short" }}</span
              >
            </div>
            <mat-expansion-panel *ngIf="comment?.replies.length" class="mb-2">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  See all replies
                </mat-panel-title>
                <mat-panel-description>
                  <mat-icon>insert_comment</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <ul
                class="list-group replies"
                *ngFor="let reply of comment.replies"
              >
                <li *ngIf="reply.isApproved" class="list-group-item my-2">
                  <span [innerHTML]="reply.content"></span>
                  <span class="user-comment"
                    >{{ reply.user.firstName }}
                    {{ reply.user.lastName }} CreatedAt
                    {{ reply.createAt | date: "short" }}</span
                  >
                </li>
              </ul>
            </mat-expansion-panel>

            <div fxLayout="row" fxLayoutAlign="center center">
              <button
                color="primary"
                (click)="replyOnComment(comment)"
                mat-mini-fab
              >
                <mat-icon>add_comment</mat-icon>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </ng-template>
    <mat-card class="comment-card">
      <mat-dialog-content>
        <form
          #f="ngForm"
          fxLayout="column"
          fxLayoutAlign="space-around stretch"
        >
          <div class="comment-area mb-3">
            <mat-label>Leave a comment</mat-label>
            <ng-container *ngIf="content.touched && !content.valid">
              <mat-error *ngIf="content.errors.required">
                Comment is required
              </mat-error>
              <mat-error *ngIf="content.errors.minlength">
                Comment should be minimum
                {{ content.errors.minlength.requiredLength }} characters
              </mat-error>
              <mat-error *ngIf="content.errors.maxlength">
                Comment should be maximum
                {{ content.errors.maxlength.requiredLength }} characters
              </mat-error>
            </ng-container>
            <quill-editor
              [styles]="{ height: '100px' }"
              required
              [modules]="modules"
              minlength="2"
              maxlength="1000"
              ngModel
              name="content"
              #content="ngModel"
            ></quill-editor>
          </div>
        </form>
      </mat-dialog-content>

      <mat-dialog-actions fxLayout="column" fxLayoutAlign="center none">
        <button
          class="comment-button"
          [disabled]="!f.valid"
          mat-raised-button
          class="mx-3"
          color="primary"
          (click)="saveComment(f)"
        >
          Post
          <mat-icon *ngIf="isLoading"
            ><mat-spinner mode="indeterminate" diameter="21"> </mat-spinner
          ></mat-icon>
        </button>
      </mat-dialog-actions>
    </mat-card>
  </div>
</div>
