.example-spacer {
    flex: 1 1 auto;
  }

  .user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background: #000;
    
  }

  .active-list-item {
    color: #0097a7 !important;
  }
  
  .icon-avatar {
    font-size: 40px;
    line-height: unset;
    margin-right: 17px;
    margin-bottom: 3px;
    
  }