<mat-toolbar color="primary">
  <button
    *ngIf="authService.isLogged()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>

  <a
    mat-mini-fab
    [ngClass.gt-sm]="'ml-4'"
    class="logo-icon"
    routerLink="/"
    color="primary"
  >
    <mat-icon>storefront</mat-icon>
  </a>
  <span *ngIf="media.isActive('md') || media.isActive('lg')" class="ml-2"
    >Farm Shop</span
  >

  <span class="example-spacer"></span>

  <a
    *ngIf="!authService.isLogged(); else logged"
    mat-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>person</mat-icon>
  </a>

  <ng-template #logged>
    <p class="mt-3">{{ authService.currentUser.firstName }}</p>

    <!-- <a mat-button [matMenuTriggerFor]="userProfileMenu"
      ><div class="user-avatar ml-2"></div
    ></a> -->
    <a
      mat-mini-fab
      [matMenuTriggerFor]="userProfileMenu"
      class="ml-2"
      color="primary"
      ><mat-icon class="icon-avatar">face</mat-icon></a
    >
  </ng-template>

  <a mat-button routerLink="/shopping-cart"
    ><mat-icon matBadgeColor="accent" [matBadge]="cartItemCount"
      >add_shopping_cart</mat-icon
    ></a
  >
</mat-toolbar>

<mat-menu #userProfileMenu="matMenu">
  <a
    *ngIf="authService.isLogged()"
    [routerLink]="['/edit-user/', authService.currentUser._id]"
    routerLinkActive="active-list-item"
    mat-menu-item
  >
    <mat-icon>account_box</mat-icon>
    <span>Profile</span>
  </a>
  <a
    *ngIf="authService.isLogged()"
    (click)="authService.logout()"
    routerLinkActive="active-list-item"
    mat-menu-item
  >
    <mat-icon>logout</mat-icon>
    <span>Log Out</span>
  </a>
</mat-menu>

<mat-menu #menu="matMenu">
  <a routerLink="/login" routerLinkActive="active-list-item" mat-menu-item>
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </a>
  <a
    routerLink="/registration"
    routerLinkActive="active-list-item"
    mat-menu-item
  >
    <mat-icon>how_to_reg</mat-icon>
    <span>Register</span>
  </a>
</mat-menu>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list *ngIf="authService.isLogged()">
      <a
        *ngIf="!authService.currentUser.roles.includes('ADMIN')"
        mat-list-item
        routerLink="/my/orders"
        routerLinkActive="active-list-item"
        (click)="sidenav.toggle()"
        ><h2 matLine>My Orders</h2>
        <mat-icon matListIcon>touch_app</mat-icon></a
      >
      <ng-container
        *ngIf="authService.currentUser.roles.includes('FARM_OWNER')"
      >
        <a
          mat-list-item
          routerLink="/farm/update-farm"
          routerLinkActive="active-list-item"
          (click)="sidenav.toggle()"
          ><h2 matLine>Farm Details</h2>
          <mat-icon matListIcon>add_business</mat-icon></a
        >
        <a
          mat-list-item
          routerLink="/farm/products"
          routerLinkActive="active-list-item"
          (click)="sidenav.toggle()"
          ><h2 matLine>Farm Products</h2>
          <mat-icon matListIcon>shopping_basket</mat-icon></a
        >
        <a
          mat-list-item
          routerLink="/farm/orders"
          routerLinkActive="active-list-item"
          (click)="sidenav.toggle()"
          ><h2 matLine>Farm Orders</h2>
          <mat-icon matListIcon>list</mat-icon></a
        >
      </ng-container>

      <ng-container *ngIf="authService.currentUser.roles.includes('ADMIN')">
        <a
          mat-list-item
          routerLink="/admin/orders"
          routerLinkActive="active-list-item"
          (click)="sidenav.toggle()"
          ><h2 matLine>Manage Orders</h2>
          <mat-icon matListIcon>list</mat-icon></a
        >
        <a
          mat-list-item
          routerLink="/admin/products"
          routerLinkActive="active-list-item"
          (click)="sidenav.toggle()"
          ><h2 matLine>Manage Products</h2>
          <mat-icon matListIcon>shopping_basket</mat-icon></a
        >
        <a
          mat-list-item
          routerLink="/admin/users"
          routerLinkActive="active-list-item"
          (click)="sidenav.toggle()"
          ><h2 matLine>Manage Users</h2>
          <mat-icon matListIcon>people</mat-icon></a
        >
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
