<mat-toolbar color="primary">
  <a
    mat-mini-fab
    [ngClass.gt-sm]="'ml-4'"
    class="logo-icon"
    routerLink="/"
    color="primary"
  >
    <mat-icon>language</mat-icon>
  </a>
  <span *ngIf="media.isActive('md') || media.isActive('lg')" class="ml-2"
    >Vocabulary</span
  >

  <!--<mat-form-field class="example-full-width mx-3">
    <input type="text" matInput placeholder="Search" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>-->
  <!-- <mat-form-field class="example-full-width mx-3">
    <input type="text" matInput placeholder="Search" />
   <a matSuffix><mat-icon >search</mat-icon></a> 
  </mat-form-field> -->

  <mat-form-field class="example-full-width mx-3">
    <input matInput type="text" (keydown.enter)="search(input)" placeholder="Search" #input >
    <button mat-button  
            matSuffix
            mat-icon-button 
            (click)="search(input)"
            
            >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <span class="example-spacer"></span>

  <a
    *ngIf="!authService.isLogged(); else logged"
    mat-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>person</mat-icon>
  </a>

  <ng-template #logged>
    <p *ngIf="!media.isActive('xs')" class="mt-3">{{ authService.currentUser.firstName }}</p>

    <a
      mat-mini-fab
      [matMenuTriggerFor]="userProfileMenu"
      class="ml-2"
      color="primary"
      ><mat-icon class="icon-avatar">face</mat-icon></a
    >
  </ng-template>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon
      *ngIf="media.isActive('sm') || media.isActive('xs')"
      (click)="sidenav.toggle()"
      >menu</mat-icon
    >
  </button>
</mat-toolbar>

<mat-menu #userProfileMenu="matMenu">
  <ng-container
    *ngIf="
      authService.isLogged() && authService.currentUser.roles.includes('ADMIN')
    "
  >
    <a
      mat-menu-item
      routerLink="/admin/letters"
      routerLinkActive="active-list-item"
    >
      <mat-icon>list</mat-icon>
      <span>Manage Letters</span></a
    >
    <a
      mat-menu-item
      routerLink="/admin/comments"
      routerLinkActive="active-list-item"
    >
      <mat-icon>shopping_basket</mat-icon><span>Manage Comments</span></a
    >
    <a
      mat-menu-item
      routerLink="/admin/users"
      routerLinkActive="active-list-item"
    >
      <mat-icon>people</mat-icon><span>Manage Users</span></a
    >
  </ng-container>
  <a
    *ngIf="authService.isLogged()"
    [routerLink]="['/edit-user/', authService.currentUser._id]"
    routerLinkActive="active-list-item"
    mat-menu-item
  >
    <mat-icon>account_box</mat-icon>
    <span>Profile</span>
  </a>
  <a
    *ngIf="authService.isLogged()"
    (click)="authService.logout()"
    routerLinkActive="active-list-item"
    mat-menu-item
  >
    <mat-icon>logout</mat-icon>
    <span>Log Out</span>
  </a>
</mat-menu>

<mat-menu #menu="matMenu">
  <a routerLink="/login" routerLinkActive="active-list-item" mat-menu-item>
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </a>
  <a
    routerLink="/registration"
    routerLinkActive="active-list-item"
    mat-menu-item
  >
    <mat-icon>how_to_reg</mat-icon>
    <span>Register</span>
  </a>
</mat-menu>

<mat-sidenav-container>
  <mat-sidenav #sidenav position="end">
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let l of letters"
        routerLink="/letter"
        [queryParams]="{ letter: l.name }"
        (click)="sidenav.toggle()"
        routerLinkActive="active-list-item"
        class="font-weight-bold"
      >
        {{ l.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <!-- <router-outlet></router-outlet> -->
      <app-home></app-home>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
